@font-face {
    font-family: 'Honey';
    src: url(fontes/MELTED\ PERSONAL\ USE.ttf);
    font-weight: normal;
    font-size: normal;
}

:root {
    --primary-color: rgb(244, 244, 12);
    --secondary-color: #0F0F0B;
    --font-honey: 'Honey';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-image:url(imagens/honeybg6.png);
    background-repeat: repeat;
    font: bold 2rem 'Open Sans', sans-serif;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color);
    font-family: var(--font-honey);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 6rem;
    color: var(--primary-color);
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todo__item{
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
}
.todo__item > div {
    width: 80%;
}
.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.todo__item > input[type='text'] {
    
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    font: inherit;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    display: flex;
    background-color:var(--primary-color);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
}

.todo__new-item > input{
    background-color:var(--primary-color);
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: normal;
}

@media (max-width: 890px){
    .todo__title{
        font-size: 150%;
    }
}
